[Desktop Entry]
Version=1.0
Type=Application
Name=Switch to Windows
Exec=~/.local/share/applications/windows/windows.sh
Icon=~/.local/share/applications/windows/icon.png
Terminal=false
