[Desktop Entry]
Version=1.0
Type=Application
Name=Switch to Windows
Exec=/opt/switch_to_windows/windows.sh
Icon=/usr/share/icons/switch_to_windows/icon.png
Terminal=false
