[Desktop Entry]
Version=1.0
Type=Application
Name=Switch to Windows
Exec=/home/sofia/.local/share/applications/setup-main/windows.sh
Icon=/home/sofia/.local/share/applications/setup-main/switch.png
Terminal=false
